html,body,div,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,p,input,table{
	padding: 0;
	margin: 0 auto;
	font-family: "微软雅黑";
	/*box-sizing: border-box;*/
}
.fei{
	display: none;
}
#cart_nav{
	width: 100%;
	height: 102px;
	border-top: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
}
#logo{
	width: 1190px;
	height: 100px;
}
#logo>div:nth-child(1){
	float: left;
}
#logo>div:nth-child(2){
	float: right;
	margin-right: 30px;
	margin-top: 15px;
}
table {
	border-collapse: collapse;
	width: 1190px;
	background: white;
	font-size: 12px;
}
table tr{
	background: mistyrose;
	border: 1px solid gainsboro;
	box-sizing: border-box;
	padding: 5px;
	width: 1190px;
	height: 100px;
}
table tr td{
	height: 100px;
}
table tr td .ck_prod{
	margin-top: 10px;
	margin-left: 10px;
}
table tr td #cartam{
	width: 30px;
	height: 30px;
	text-align: center;
	margin: 0;
	padding: 0;
	outline: none;
	border: 2px solid lightslategrey; 
}
table img{
	width: 80px;
	height: 80px;
}
table div{
	float: left;
}
.add, .minus {
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: inline-block; 
	text-align: center; 
	border: 2px solid lightslategrey; 
	cursor: default;
	margin: 0;
	padding: 0;
}
#main_cart{
	width: 1188px;
	height: 48px;
	line-height: 50px;
	border: 1px solid gainsboro;
	font-size: 12px;
}
#main_cart>a{
	color: deepskyblue;
	margin-left: 30px;
}
#main_cart input{
	margin-left: 10px;
}
.topay{
	width: 118px;
    height: 38px;
    line-height: 38px;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;
    text-align: center;
    float: right;
}
.topay a{
	color: white;
	background: red;
	display: block;
}
.total{
	font-size: 30px;
	font-weight: bold;
	color: red;
}
.checkall{
	width: 10px;
	height: 10px;
	border: 1px solid brown;
}
.checkall input{
	width: 10px;
	height: 10px;
	border: none;
}
#emptyshow{
	width: 400px;
	height: 200px;
	border: 1px solid red;
	position: fixed;
	top: 200px;
	left: 480px;
	background: white;
	display: none;
}
#emptyshow .empty{
	width: 400px;
	height: 200px;
	position: relative;
	text-align: center;
	overflow: hidden;
}
#emptyshow .empty div{
	float: left;
}
#emptyshow .empty div:nth-child(3){
	margin-left: 140px;
	margin-top: 40px;
}
#emptyshow .empty div:nth-child(4){
	margin-left: 20px;
	margin-top: 40px;
}
#emptyshow .empty p{
	margin-top: 50px;
}
#emptyshow .empty #cancal{
	width: 12px;
	height: 12px;
	border: 1px solid gray;
	position: absolute;
	right: 5px;
	top: 5px;
}
#emptyshow .empty #cancal img{
	width: 12px;
	height: 12px;
	position: absolute;
	right: 0px;
}
#cover{
	width: 100%;
	height: 100%;
	background: gray;
	opacity: 0.8;
	position: fixed;
	display: none;
}
