<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>商品列表</title>
		<link rel="stylesheet" type="text/css" href="../css/include.css"/>
		<link rel="stylesheet" type="text/css" href="../css/list.css"/>
		<link rel="stylesheet" type="text/css" href="../font/iconfont.css"/>
	</head>
	<body>
		<div class="header"></div>
		<div class="navr">
			<div id="all" style="float: left;">
				<a href="">全部商品分类</a>
				<div class="sidenav">
					<div class="allsubnav">
						<div class="alldiv">
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
						</div>
						<div class="alldiv">
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
						</div>
						<div class="alldiv">
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
						</div>
						<div class="alldiv">
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
						</div>
						<div class="alldiv">							
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
						</div>
						<div class="alldiv">
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
						</div>
						<div class="alldiv">
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3><a href="">格式各样的增肥食品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
						</div>
						<div class="alldiv">
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
							<div style="float: left;" class="alldiv_div">
								<div>
									<h3><a href="">冷藏乳制品及饮品</a></h3>
									<p><a href="">鲜奶奶酪</a>|<a href="">冷藏酸奶</a>|<a href="">冷藏乳饮料</a>|<a href="">奶酪</a></p>
									<p><a href="">黄油</a>|<a href="">冷藏乳酸菌</a>|<a href="">冷藏果汁</a></p>
									<p><a href="">冷藏咖啡</a>|<a href="">冷藏甜品</a>|<a href="">冷藏沙拉酱</a></p>
								</div>
								<div>
									<h3>速冻主食</h3>
									<p><a href="">水饺</a>|<a href="">汤圆</a>|<a href="">馄饨/云吞</a>|<a href="">包子/烧卖</a></p>
									<p><a href="">馒头/花卷</a>|<a href="">火锅丸类/饺类</a>|<a href="">饼类春卷</a></p>
									<p><a href="">披萨</a>|<a href="">速冻面条/饭</a>|<a href="">速冻菜肴</a></p>
									<p><a href=""></a>|<a href="">其他速冻食品</a></p>
								</div>
								<div>
									<h3>冰品</h3>
									<p><a href="">冰激凌/蛋筒</a>|<a href="">哈根达斯</a>|<a href="">八喜</a></p>
								</div>
								<div>
									<h3>烘培</h3>
									<p><a href="">甜点</a>|<a href="">冷藏蛋糕</a>|<a href="">面包</a></p>
								</div>
							</div>
						</div>
						
					</div>
					<ul id="allpro">
						<li>
							<i class="iconfont icon-shengxian"></i>
							<a href="">生鲜食品、冷藏冷冻</a>						
						</li>
						<li>
							<i class="iconfont icon-duduyinleappicon2301"></i>
							<a href="">食品、饮料、酒水</a>						
						</li>
						<li>
							<i class="iconfont icon-shengxian"></i>
							<a href="">进口好货、进口食品</a>						
						</li>
						<li>
							<i class="iconfont icon-meizhuangyongpin"></i>
							<a href="">美妆洗护、个人护理</a>					    
						</li>
						<li>
							<i class="iconfont icon-zhipin"></i>
							<a href="">家清纸品、厨具餐具</a>						
						</li>
						<li>
							<i class="iconfont icon-iconfontqiangshafa"></i>
							<a href="">家纺、家居、家装</a>					    
						</li>
						<li>
							<i class="iconfont icon-naiping"></i>
							<a href="">母婴、童装、玩具</a>						
						</li>
						<li>
							<i class="iconfont icon-shouji"></i>
							<a href="">手机数码、电脑办公</a>						
						</li>					
					</ul>
				</div>
			</div>
			
			<div class="navmain">
				<ul>					
					<li><a href="">飞牛商城</a></li>
					<li><a href="">进口好货</a></li>
					<li><a href="">母婴关</a></li>
					<li><a href="">服装城</a></li>
					<li><a href="">家具馆</a></li>
					<li><a href="">美食城</a></li>
					<li><a href="">美护馆</a></li>
					<li><a href="">电器城</a></li>
					<li><a href="">肥牛团</a></li>
					<li><a href="">自创品牌</a></li>
				</ul>
				<div id="pic2">
					<img src="/飞牛网/img/529.gif"/>
				</div>
			</div>
		</div>
		<div id="proall">
			<div id="hotpro">
				<div id="h3div"><h3>推荐热卖</h3></div>
			</div>
			<div id="delpro"></div>
		</div>		
		<div class="footer"></div>
		<script type="text/html" id="delpro_temp">
			<% for (var i = 0, len = list.length; i < len; i++) {
				var pro= list[i];
			%>
			<div class="everypro">
				<dl>
					<dt><a href="detail.html" style="display: block;"><img src="<%= pro.img %>"/></a></dt>
					<dd>
						<p><span>￥</span><span class="pro_price"><%= pro.price %></span></p>
						<p class="pro_title"><%= pro.title %></p>
						<p><a href="detail.html#abc_ul" class="pro_detal"><%= pro.text %></a></p>
						<div class="addtocart">
							<div class="delpro_amount"><input type="text" name="" class="amount" value="1" /></div>
							<div>
								<div class="add"><a href="javascript:void(0)">+</a></div>
								<div class="min"><a href="javascript:void(0)">-</a></div>
							</div>
							<div class="addcart"><a href="javascript:void(0)">加入购物车</a></div>
						</div>
						<p>好评<span><%= pro.tell %></span></p>
						<p><span>飞牛自营</span></p>
					</dd>
				</dl>
			</div>
			<% } %>
		</script>
		<script type="text/html" id="hot_temp">
			<% for (var i = 0, len = list.length; i < len; i++) {
				var pro= list[i];
			%>
			<div class="everyhotpro">
				<dl>
					<dt><a href="javascript:void(0)"><img src="<%= pro.img %>"/></a></dt>
					<dd>
						<p><a href="javascript:void(0)" class="hot_detal"><%= pro.text %></a></p>
						<p class="hot_price">￥<span><%= pro.price %></span></p>
						<p class="hotshop"><span>鲜丰水果旗舰店</span></p>
					</dd>
				</dl>
			</div>
			<% } %>
		</script>
		<script type="text/javascript" src="../lib/jquery/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../lib/plugins/jquery.cookie.js"></script>
		<script src="../lib/artTemplate/template-native.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../js/include.js"></script>
		<script type="text/javascript">
		$(function(){
			$.getJSON("/飞牛网/mock/del_pro.json", function(responseData){
			var data = {
				list : responseData
			};
			console.log(data)
			var html = template("delpro_temp", data);
			$(html).appendTo("#delpro");
			 });
			$.getJSON("/飞牛网/mock/hot.json", function(responseData){
			var data = {
				list : responseData
			};
			console.log(data)
			var html = template("hot_temp", data);
			$(html).appendTo("#hotpro");
		   });
        	$("#delpro").delegate(".add","click",function(){
        		
		    	var ss=$(this).parent().parent().find(".amount").val();
		    	ss++;
		    	$(this).parent().parent().find(".amount").val(ss);
		    })
		    $("#delpro").delegate(".min","click",function(){
        		
		    	var ss=$(this).parent().parent().find(".amount").val();
		    	ss--;
		    	if(ss==0)
		    	return;
		    	$(this).parent().parent().find(".amount").val(ss);
		    })
            $("#delpro").delegate(".everypro","mouseenter",function(){
            	$(this).addClass("addborder").siblings().removeClass("addborder")
            })
            $("#delpro").delegate(".addcart","mouseenter",function(){
            	$(this).find("a").addClass("add_cart")
            })
            $("#delpro").delegate(".addcart","mouseleave",function(){
            	$(this).find("a").removeClass("add_cart")
            })
            $("#delpro").delegate(".addcart","click",function(){
            	var $dl= $(this).parents("dl");
            	var _amount=$dl.find(".amount").val();
            	console.log(_amount)
            	var product={
            		id: $dl.find("dt").find("img").attr("src"),
            		name:$dl.find(".pro_title").text(),
            		price:$dl.find(".pro_price").text(),
            		amount:_amount
            	}
            	$.cookie.json = true;
				// 读取已保存的购物车数组
				var products = $.cookie("products") || [];
				// 判断是否当前商品已有选购过
				var index = exist(product.name, products);
//				var amount=$(".amount").val()
				if (index !== -1) // 之前已有选购，则只需要修改数量
				{
				    console.log(222)
                    for(var i=0;i<_amount;i++){
                    	products[index].amount++
                    }

				}				
				else // 将当前选购商品对象添加到数组保存
					products.push(product);
				// 将 products 中所有选购商品信息保存到 cookie 中
				$.cookie("products", products, {expires : 7});

				alert("添加成功");
				var _amount=0,
				    products=$.cookie("products");
				for(var i=0;i<products.length;i++){
					_amount+=parseInt(products[i].amount)
				}
				$(".cart_amount").text(_amount)
			 });
			 function exist(name, products) {
				for (var i = 0, len = products.length; i < len; i++) {
					if (products[i].name == name)
						return i;
				}
	
				return -1;
			}	
			$("#all").mouseenter(function(){
			$(".sidenav").show();
			$("#allpro li").mouseenter(function(){
				$(this).addClass("xx").find("a,i").addClass("yy").end().parent().parent()
				       .find(".allsubnav").show().find(".alldiv").eq($(this).index()).show()
				       .siblings().hide()
			})
			$("#allpro li").mouseleave(function(){
				$(this).removeClass("xx").find("a,i").removeClass("yy")
			})
			    })
	    $("#all").mouseleave(function(){
	    	$(".allsubnav").hide();
	    	$(".sidenav").hide()
	    })
		})
		
		</script>
	</body>
</html>